
/*DISEÑO GENERAL*/
body {  
	overflow-x: hidden !important;  
	font-family: 'Oswald', sans-serif;
    color: #544848;
    background-color: #fff;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	
}

h1{
	text-transform: uppercase;
	color: white;
	margin: 15% auto;
	font-weight: 900;
	text-align: center;
	letter-spacing: 0.5em;
	font-size: 3em;

}

h2{
	
	text-align: center;
	margin-bottom: 2.5em;
	font-size: 2em;
}

h2, h3, h4, h5, h6{
	font-weight: 300
}

section{
	padding: 140px 0 200px 0;
	border: 1px rgba(0,0,0,.5) solid;
}

.blanquirrojaSection{
	background-color: #e6c0c466;
}

.paddingExtra{
	/*padding-bottom: 120px;*/
}

p{
	line-height: 2em;
	margin: 0 20px;
	text-align: justify;
	font-size: 1.4em;
	font-weight: 300;
}

span{
	font-style: oblique;
	text-transform: uppercase;
	font-weight: 400;
}

span.spanModal{
	text-transform: none;
}

a{
	text-transform: uppercase;
}
a:hover{
	text-decoration: none;
}

hr{
	width: 100%;
	border: 1px black solid;
}



/*-----------------------------------------------------------------------------------------------------------*/

/*BARRA DE MENU*/

.barrasMenu {
	display: none;
	cursor: pointer;
	position: fixed;
	top: 0px;
	right: 20px;
	font-size: 3em;
	z-index: 9999;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	color: #ff5a5ab3;

}

.menu{
	background-color: #d55353;
	width: 100%;
	font-size: 20px;
	top: 0;
	z-index: 900;
	position: fixed;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	 /*cubic-bezier(.43,.47,.38,.81)*/
}

.menu img{
	width: 50px;
	margin: 5px; 
	padding: 5px;
}
.menu ul{
	float: right;
	display: block;
}

.menu li{
	padding: 0 10px;
	display: inline-block;
}

.menu a{
	padding: 10px 10px;
	line-height: 63px;
	font-weight: 300;
	color: white;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*HERO*/

#hero{
	position: relative;
	height: 100vh;
	background: rgba(50,50,50,0) url("../img/backgrounds/estadio.jpg") no-repeat fixed center bottom / cover;
	
}

#hero::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(211, 161, 161, 0.25);
}
/*-------------------------------------------------------------------------------------------------------------------*/

/*SECTION DE JUGADORES*/

#jugadores{
	position: relative;
	background: url('../img/backgrounds/seleccion.jpg') no-repeat fixed top / cover;
}
#jugadores::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(232, 232, 232, 0.4);
}

#jugadores p{
	font-weight: 500;
}

.jugador{
	border-radius: 5%;
	border: 5px;
}

.datos{
	color: black;
	opacity: 0;
	text-align: left;
	-webkit-transform: translateX(100px);
	    -ms-transform: translateX(100px);
	        transform: translateX(100px);
	-webkit-transition: all 5s;
	-o-transition: all 5s;
	transition: all 5s;
}

.datos.visible{
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}


/*-------------------------------------------------------------------------------------------------------------------*/



/*SECTION PARTIDOS PROXIMOS*/


#partidos{
	text-align: center;
}

#partidos .row{
	padding: 20px 0;
}



#partidos img.izquierda{
	opacity: 0;
	-webkit-transform: translateX(-100px);
	    -ms-transform: translateX(-100px);
	        transform: translateX(-100px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#partidos img.izquierda.visible{
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

#partidos img.derecha{
	opacity: 0;
	-webkit-transform: translateX(200px);
	    -ms-transform: translateX(200px);
	        transform: translateX(200px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#partidos img.derecha.visible{
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}
	
#partidos .col-4.central{
	opacity: 0;
	-webkit-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	        transform: translateY(100px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#partidos .col-4.central.visible{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}



/*-------------------------------------------------------------------------------------------------------------------*/



/*SECTION ELIMINATORIAS*/
#eliminatorias{
	position: relative;
	font-weight: 500;
	text-align: center;
	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed bottom / contain;
	/*padding: 250px 0;*/
}
#eliminatorias::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(232, 232, 232, 0.8);
}



#eliminatorias .row{
	color: black;
	border: 2px black solid;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*SECTION GOLES*/
#goles{
	position: relative;
}


#video {
	width: 100%;
}

.arco{
	background: url('../img/graphics/soccergoal.png');
	background-size: cover;
	position: absolute;
	width: 40%;
	height: 35%;
	bottom: 5px;
	right: 40px;
	z-index: 100;
	color: white;
	opacity: 0;
	-webkit-transform: translateX(700px);
	    -ms-transform: translateX(700px);
	        transform: translateX(700px);
	-webkit-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}

.arco.visible{
	opacity: 0.2;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.pelota{
	opacity: 0;
	-webkit-transform: translateX(-50px);
	    -ms-transform: translateX(-50px);
	        transform: translateX(-50px);
	font-size: 0.8em;
	position: absolute;
	bottom: 120px;
	left:20px;
	-webkit-transition: all 1.5s;
	-o-transition: all 1.5s;
	transition: all 1.5s;
}

.pelota.visible{
	opacity: 0.8;
	-webkit-transform: translateX(1100px) scale(7);
	    -ms-transform: translateX(1100px) scale(7);
	        transform: translateX(1100px) scale(7);
}

#futbol *{
	fill: #e16274;
}



/*-------------------------------------------------------------------------------------------------------------------*/

/*SECTION CAMISETA*/
#camiseta{
	background-color: #eddfdf;
}
.camiseta{
	width: 100%;
	opacity: 0;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	-webkit-transform: translateX(200px);
	    -ms-transform: translateX(200px);
	        transform: translateX(200px);
}

.camiseta.visible{
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

#camiseta .btn{
	border: 1px solid #555;
    color: #fff;
    background-color: #111;
    outline:0;
    opacity: 0;
    -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
            transform: translateY(50px);
}

#camiseta .btn.visible{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}



/*----------------------------------------------------------------------------------------------------------------------*/

/*COCTACTO*/
.contacto{
	background-color: #2f2929;		
  	color: black;
}

#contacto input:not(.boton), #contacto textarea{
	border: 0;
	outline: 0;
    width: 100%;
    margin-top: 25px;
    padding: 5px 20px 20px 14px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 100;
    line-height: 1em;
    background-color: transparent;
}

#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    letter-spacing: 0.5em;
}

#contacto .boton {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    margin-top: 20px;
    color: #d88181;
    background-color: #3c5f5f;
    opacity: 0;
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

#contacto .boton.visible{
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

/*----------------------------------------------------------------------------------------------------------------------*/


/*SECTION MUNDIAL*/
#mundial{
	color: white;
	position: relative;
	text-align: center;
	background: url(../img/backgrounds/rusia2018.jpg) no-repeat center top / cover;
}
#mundial::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(38, 30, 30, 0.6);
}

#mundial hr{
	position: relative;
	border-color: white;
	width: 20%;
	opacity: 0;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#mundial hr.visible{
	width: 100%;
	opacity: 1;
}

#mundial .row{
	padding: 20px 0;
}

#mundial .estadio{
	width: 50%;
	cursor: pointer;
	border-radius: 20%;
	opacity: 0;
	-webkit-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	        transform: translateY(100px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#mundial .estadio.visible{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}


#mundial .banderaVisitante{
	opacity: 0;
	-webkit-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	        transform: translateY(-100px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#mundial .banderaVisitante.visible{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

 #mundial .datosPartido{
 	-webkit-transform: translateY(100px);
 	    -ms-transform: translateY(100px);
 	        transform: translateY(100px);
 	opacity: 0;
 	-webkit-transition: all 2s;
 	-o-transition: all 2s;
 	transition: all 2s;
}

#mundial .datosPartido.visible{
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

#mundial .banderaLocal{
	opacity: 0;
	-webkit-transform: translateY(-100px);
	    -ms-transform: translateY(-100px);
	        transform: translateY(-100px);
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#mundial .banderaLocal.visible{
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}


/*------------------------------------------------------------------------------------------------------------------------*/

/*BOTONES*/

.btn{
	float: right;
	display: inline-block;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
/*-----------------------------------------------------------------------------------------------------------------------*/

/*MODALES*/

.fondoModal {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.85);
	display: none;
	z-index: 100;
}

.contenidoModal {
	color: black;
	width: 80%;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);	
	display: none;
	z-index: 300;
	/*background: url('../img/backgrounds/machu2.jpg') no-repeat center top / cover;*/
}

/*.contenidoModal::before{
	content: '';
	width: 100%;
	height: 1300px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #db1d1d;
	background-image: linear-gradient(2deg, #bd9a9a 0%, #C4A2A3 100%);
	opacity: 0.7;
}*/

.contenidoModal  h5{
	font-weight: 400;
}

.contenidoModal p{
	font-weight: 300;
}


.scroll{
	overflow-y: scroll;
	height: 80%;
}


.contenidoModal img{
	width: 100%;
}


.cerrarModal{
	color:#783939;
	font-size: 2.2em;
	position: fixed;
	top: 80px;
	right: 170px;
	z-index: 1000;
	cursor: pointer;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}




/*------------------------------------------------------------------------------------------------------------------------*/

/*FOOTER*/

footer{
	border-top: 1px black solid;
	position: relative;
	padding: 40px 0;
	/*background:  url('../img/backgrounds/machu.jpg') no-repeat center  / cover;
	background:  url('../img/graphics/pelota.png') no-repeat right / contain;*/
	text-align: center;
	letter-spacing: 0.4em;
	
}

footer::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #db1d1d;
	background-image: -webkit-linear-gradient(88deg, #802f2f 0%, #8A5658 100%);
	background-image: -o-linear-gradient(88deg, #802f2f 0%, #8A5658 100%);
	background-image: linear-gradient(2deg, #802f2f 0%, #8A5658 100%);
	opacity: 0.7;
}


footer img{
	z-index: -1;
	width: 20px;
	opacity: 0;
	-webkit-transform: translateX(0) scale(0);
	    -ms-transform: translateX(0) scale(0);
	        transform: translateX(0) scale(0);
	-webkit-transition: all 4s;
	-o-transition: all 4s;
	transition: all 4s;
}
footer img.visible{ 
	-webkit-transform: translateX(300px) scale(5); 
	    -ms-transform: translateX(300px) scale(5); 
	        transform: translateX(300px) scale(5);
	opacity: 1;
}

footer a{
	padding: 10px 0;
	color: black;
}

footer small{
	font-weight: 200;
}

footer a:hover{
	color: black;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/*ALERTA*/

#alerta {
    background: #D67D7D;
    position: fixed;
    top: 80px;
    left: 0;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: rgb(50,50,50);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
   	border: 2px dashed rgb(50,50,50);
}

#alerta.visible{
	opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

 #alerta p {
    padding: 12px 10px;

    margin: 10px 35px;
    text-align: center;
    width: 300px;
    font-size: 1.2em;
    line-height: 16px
}

/*-------------------------------------------------------------------------------------------------------------------*/


/*RESPONSIVE*/

/* nivel 1245*/
@media screen and (max-width: 1245px) {


	h1{
		font-size: 2.2em
	}

	h2, h3, h4{
		font-size: 1.2em;
	}

	section {
    	padding: 100px 0 164px 0;
	}

	p {
    	font-size: 1em;
    	font-weight: 200;
	}

	#partidos span{
		font-size: 0.8em;
		font-weight: 400;
	}

	#eliminatorias {
    	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed center / contain;
	}

	.arco {
    width: 35%;
    height: 30%;
    bottom: 17px;
    right: 4px;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
	}	

	.pelota {
    	bottom: 80px;
    	left: 20px;
	}

	.pelota.visible {
    	-webkit-transform: translateX(950px) scale(3);
    	    -ms-transform: translateX(950px) scale(3);
    	        transform: translateX(950px) scale(3);
	}

	.btn {
    	font-size: 1em;
	}

	.camiseta {
    	width: 80%;
	}



	#mundial span{
		font-size: 0.8em;
		font-weight: 400;
	}



	#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    	letter-spacing: 0.1em;
	}

	.contenidoModal h2{
	    margin-bottom: 0.5em;
	}

	.contenidoModal h5{
		margin-top: 30px;
		font-size: 1em;	
		font-weight: 200;
	}

	.contenidoModal p{
		font-size: 1.2em;	
		font-weight: 200;
	}

	.cerrarModal {
    	font-size: 2.2em;
		right: 140px;
	}


	footer {
    letter-spacing: 0.2em;
	}

	footer a {
    font-size: 0.8em;
	}

	footer img {
    -webkit-transform: translateX(-20px) scale(0);
        -ms-transform: translateX(-20px) scale(0);
            transform: translateX(-20px) scale(0);
	}

	footer img.visible {
    -webkit-transform: translateX(350px) scale(3);
        -ms-transform: translateX(350px) scale(3);
            transform: translateX(350px) scale(3);
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* nivel 1070*/

@media screen and (max-width: 1070px) {

	.barrasMenu {
		display: block;
	}

	.menu {
		width: 300px;
		height: 100vh;
		border-right: 3px solid #999;
		-webkit-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
		        transform: translateX(-100%)
	}

	.menu.abierto {
		-webkit-transform: translateX(0);
		    -ms-transform: translateX(0);
		        transform: translateX(0)
	}

	.menu ul {
		float: none;
		margin: 0;
		padding: 0
	}

	.menu li {
		display: block;
		list-style: none;
		text-align: center;
		width: 300px;
	}

	h1{
		font-size: 2em
	}

	h2, h3, h4{
		font-size: 1.2em;
	}

	section {
    	padding: 100px 0 164px 0;
	}

	p {
    	font-size: 1em;
    	font-weight: 200;
	}

	#partidos span{
		font-size: 0.8em;
		font-weight: 400;
	}

	#eliminatorias {
    	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed center / contain;
	}

	.arco {
    width: 31%;
    height: 24%;
    bottom: 17px;
    right: 4px;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
	}	

	.pelota {
    	bottom: 46px;
    	left: 20px;
	}

	.pelota.visible {
    	-webkit-transform: translateX(750px) scale(2.5);
    	    -ms-transform: translateX(750px) scale(2.5);
    	        transform: translateX(750px) scale(2.5);
	}

	.btn {
    	font-size: 1em;
	}

	.camiseta {
    	width: 100%;
	}


	#mundial span{
		font-size: 0.8em;
		font-weight: 400;
	}


	#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    	letter-spacing: 0.1em;
	}

	.contenidoModal h2{
	    margin-bottom: 0.5em;
	}

	.contenidoModal h5{
		margin-top: 30px;
		font-size: 1em;	
		font-weight: 200;
	}

	.contenidoModal p{
		font-size: 1.2em;	
		font-weight: 200;
	}

	.cerrarModal {
    	font-size: 2.2em;
		right: 122px;
	}


	footer {
    letter-spacing: 0.2em;
	}

	footer a {
    font-size: 0.8em;
	}

	footer img {
    -webkit-transform: translateX(-20px) scale(0);
        -ms-transform: translateX(-20px) scale(0);
            transform: translateX(-20px) scale(0);
	}

	footer img.visible {
    -webkit-transform: translateX(300px) scale(3);
        -ms-transform: translateX(300px) scale(3);
            transform: translateX(300px) scale(3);
	}

	#alerta {
    top: 10px;
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* nivel 900*/

@media screen and (max-width: 900px) {
	h1{
		font-size: 2em;
		margin: 40% auto;
	}

	h2, h3, h4{
		font-size: 1.2em;
	}

	section {
    	padding: 100px 0 164px 0;
	}

	p {
    	font-size: 1em;
    	font-weight: 200;
	}

	#partidos span{
		font-size: 0.8em;
		font-weight: 400;
	}

	#eliminatorias {
    	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed center / contain;
	}

	.arco {
    width: 31%;
    height: 24%;
    bottom: 17px;
    right: 4px;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
	}	

	.pelota {
    	bottom: 46px;
    	left: 20px;
	}

	.pelota.visible {
    	-webkit-transform: translateX(650px) scale(2);
    	    -ms-transform: translateX(650px) scale(2);
    	        transform: translateX(650px) scale(2);
	}

	.btn {
    	font-size: 1em;
	}

	.camiseta {
    	width: 100%;
	}

	#mundial{
		background: url(../img/backgrounds/rusia20182.jpg) no-repeat center top / cover;
	}

	#mundial span{
		font-size: 0.8em;
		font-weight: 400;
	}


	#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    	letter-spacing: 0.1em;
	}

	.contenidoModal h2{
	    margin-bottom: 0.5em;
	}

	.contenidoModal h5{
		margin-top: 30px;
		font-size: 1em;	
		font-weight: 200;
	}

	.contenidoModal p{
		font-size: 1.2em;	
		font-weight: 200;
	}

	.cerrarModal {
    	font-size: 2em;
	    right: 79px;
 
	}


	footer {
    letter-spacing: 0.2em;
	}

	footer a {
    font-size: 0.8em;
	}

	footer img {
    -webkit-transform: translateX(-20px) scale(0);
        -ms-transform: translateX(-20px) scale(0);
            transform: translateX(-20px) scale(0);
	}

	footer img.visible {
    -webkit-transform: translateX(40px) scale(3);
        -ms-transform: translateX(40px) scale(3);
            transform: translateX(40px) scale(3);
	}

	#alerta {
    top: 10px;
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* nivel 640*/

@media screen and (max-width: 640px) {

	h1{
		font-size: 1.5em;
		margin: 50% auto;
	}

	h2, h3, h4{
		font-size: 1.2em;
	}

	section {
    	padding: 100px 0 164px 0;
	}

	p {
    	font-size: 1em;
    	font-weight: 200;
	}

	#partidos span{
		font-size: 0.8em;
		font-weight: 400;
	}

	#eliminatorias {
    	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed center / contain;
	}

	.arco {
	    width: 31%;
		height: 11%;
		bottom: 113px;
		right: 0px;
		-webkit-transform: translateX(50px);
		    -ms-transform: translateX(50px);
		        transform: translateX(50px);
	}	

	.pelota {
    	bottom: 150px;
    	left: 20px;
	}

	.pelota.visible {
    	-webkit-transform: translateX(466px) scale(2);
    	    -ms-transform: translateX(466px) scale(2);
    	        transform: translateX(466px) scale(2);
	}

	.btn {
    	font-size: 1em;
	}

	.camiseta {
    	width: 50%;
	}

	#mundial{
		background: url(../img/backgrounds/rusia20182.jpg) no-repeat center top / cover;
	}

	#mundial span{
		font-size: 0.8em;
		font-weight: 400;
	}


	#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    	letter-spacing: 0.1em;
	}

	.contenidoModal h2{
	    margin-bottom: 0.5em;
	}

	.contenidoModal h5{
		margin-top: 30px;
		font-size: 1em;	
		font-weight: 200;
	}

	.contenidoModal p{
		font-size: 1.2em;	
		font-weight: 200;
	}

	.cerrarModal {
    	font-size: 2em;
	    right: 79px;
	}

	footer {
    letter-spacing: 0.2em;
	}

	footer a {
    font-size: 0.8em;
	}

	footer img {
    -webkit-transform: translateX(-20px) scale(0);
        -ms-transform: translateX(-20px) scale(0);
            transform: translateX(-20px) scale(0);
	}

	footer img.visible {
    -webkit-transform: translateX(130px) scale(3);
        -ms-transform: translateX(130px) scale(3);
            transform: translateX(130px) scale(3);
	}

	#alerta {
    top: 10px;
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* nivel 460*/

@media screen and (max-width: 460px) {

	h1{
		font-size: 1.1em;
		margin: 80% auto;
	}

	h2, h3, h4{
		font-size: 1.2em;
	}

	section {
    	padding: 100px 0 164px 0;
	}

	p {
    	font-size: 1em;
    	font-weight: 200;
	}

	#partidos .col-4.central {
    	font-size: 0.8em;
	}

	#eliminatorias {
    	background: url('../img/graphics/logo-eliminatorias-conmebol.png') no-repeat fixed center / contain;
	}

	.arco {
	    width: 44%;
	    height: 10%;
	    bottom: 100px;
		right: 11px;
		-webkit-transform: translateX(100px);
		    -ms-transform: translateX(100px);
		        transform: translateX(100px);
	}	

	.pelota {
    	bottom: 112px;
    	left: 20px;
	}

	.pelota.visible {
    	-webkit-transform: translateX(249px) scale(2);
    	    -ms-transform: translateX(249px) scale(2);
    	        transform: translateX(249px) scale(2);
	}

	.btn {
    	font-size: 0.8em;
	}

	.camiseta {
    	width: 50%;
	}

	.cerrarModal {
		font-size: 2em;
	    top: 80px;
    	right: 55px;
	}

	.contenidoModal h2{
	    margin-bottom: 0.5em;
	}

	.contenidoModal h5{
		margin-top: 30px;
		font-size: 1em;	
		font-weight: 200;
	}

	.contenidoModal p{
		font-size: 1em;	
		font-weight: 200;
	}

	#contacto input:not(.boton), #contacto textarea {
	    padding: 0 0 5px 0;
	}

	#contacto input::-moz-placeholder, #contacto textarea::-moz-placeholder {
    letter-spacing: 0.1em;
	}

	#mundial{
		background: url(../img/backgrounds/rusia20182.jpg) no-repeat center top / cover;
	}

	#mundial span{
		font-size: 0.8em;
		font-weight: 400;
	}


	footer {
    letter-spacing: 0.2em;
	}

	footer a {
    font-size: 0.8em;
	}

	footer img {
    -webkit-transform: translateX(-20px) scale(0);
        -ms-transform: translateX(-20px) scale(0);
            transform: translateX(-20px) scale(0);
	}

	footer img.visible {
    -webkit-transform: translateX(30px) scale(3);
        -ms-transform: translateX(30px) scale(3);
            transform: translateX(30px) scale(3);
	}

}

/*-------------------------------------------------------------------------------------------------------------------*/